@use 'src/styles/vars';

.modal {
  margin: auto;
  border-left: none;
  border-right: 2px solid vars.$alt-color;
  border-bottom: 2px solid vars.$alt-color;
  width: 450px;
  &__title {
    padding: vars.$gutter/2;
    text-align: center;
    font-weight: bold;
    font-size: vars.$gutter;
    text-transform: uppercase;
    background-color: vars.$alt-color;
  }
  &__content {
    padding: vars.$gutter;
    vertical-align: middle;
  }
}

.modalPage__image {
  width: 100%;
  border: 2px solid vars.$alt-color;
}

.editCheese {
  width: 450px;
  margin-left: vars.$gutter;
  &__title {
    margin-bottom: vars.$gutter;
    text-decoration: underline;
    font-size: vars.$gutter*1.5;
  }
}

.edit {
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__label {
    font-weight: bold;
    font-size: vars.$gutter;
    margin-top: vars.$gutter/2;
    color: vars.$alt-color;
    font-size: 1.2em;
  }
  &__input {
    display: block;
    width: 100%;
    border: 2px solid vars.$secondary-color;
    background-color: transparent;
    color: vars.$secondary-color;
    margin: vars.$gutter / 2 0;
    padding: vars.$gutter / 2;
    &:focus {
      background-color: vars.$secondary-color;
      color: vars.$main-color;
    }
    &__description {
      height: 150px;
      margin-top: vars.$gutter/2;
      display: block;
      width: 100%;
    }
    &__image {
      height: 100px;
      margin-top: vars.$gutter/2;
      display: block;
      width: 100%;
    }
  }
  &__button {
    color: vars.$alt-color;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid vars.$alt-color;
    padding: vars.$gutter / 2;
    font-weight: bold;
    width: 100px;
    border-radius: 2px;
    margin: vars.$gutter auto vars.$gutter auto;
  
    &:hover {
      background-color: vars.$alt-color;
      color: vars.$main-color;
    }
  }
}
