@use 'src/styles/vars';

.produits {
  color: white;
  &__flexButton {
    display: flex;
    justify-content: flex-end;
  }
  &__button {
    color: vars.$alt-color;
    background-color: vars.$main-color;
    border: 2px solid vars.$alt-color;
    padding: vars.$gutter/2;
    height: 100%;
    font-weight: bold;
    &:hover {
      background-color: vars.$alt-color;
      color: vars.$main-color;
    }
  }
  &__title {
    font-size: 1.5em;
  }
  &__table {
    margin-top: vars.$gutter*2;
    margin-right: vars.$gutter/2;
    border: 2px solid vars.$alt-color;
    width: 100%;
    &__button {
      color: vars.$alt-color;
      background-color: vars.$main-color;
      border: 2px solid vars.$alt-color;
      padding: vars.$gutter / 2;
      height: 100%;
      font-weight: bold;
      &:hover {
        background-color: vars.$alt-color;
        color: vars.$main-color;
      }
    }
  }
  &__table th {
    background-color: vars.$main-color;
    color: vars.$alt-color;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    padding: vars.$gutter/2;
    border: 1px solid vars.$alt-color;
  }
  &__table td {
    padding: vars.$gutter/2;
    border: 1px solid vars.$alt-color;
    font-size: 1.1em;
    line-height: 1.2em;
    vertical-align: middle;
    text-align: center;
    &:nth-child(3) {
      text-align: left;
    }
  }
}
