@use 'src/styles/vars';

$main: url("./glass-plate-medium.jpg");
$cheese: url('./cheeses-medium.jpg');
$wine: url('./bottles-medium.jpg');

.mainHeader {
  height: 50vh;
  background-image: $main;
  background-repeat: no-repeat;
  background-size: cover;
  &__container {
    background-color: rgba(124, 118, 118, 0.6);
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  &__connexion {
    justify-self: end;
    margin: 1rem 1rem 0 0;
    & a {
      &:hover {
      color: vars.$alt-color;
      }
    }
  }
  &__logoImage {
    width: 50%;
    padding-top: 10px; 
    justify-self: center;
    text-align: center;
  }
  &__nav {
    color: white;
    align-self: end;
    justify-self: center;
    padding-bottom: 2rem;
  }
  &__link {
    margin: 0 vars.$gutter;
    transition: 0.2s;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
      color: vars.$alt-color;
      border-bottom: 3px solid vars.$alt-color;
    }
    &--active {
      color: vars.$alt-color;
      border-bottom: 3px solid vars.$alt-color;
    }
  }
}

@media (min-width: 768px) {
  .mainHeader {
    &__link {
      margin: 0 vars.$gutter * 2;
      font-size: 1.3em;
    }
    &__logoImage {
      width: 40%;
    }
  }
}

@media (min-width: 1024px) {
  .mainHeader {
    height: 70vh;
    &__nav {
      align-self: start;
      justify-self: start;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    &__link {
      margin-bottom: vars.$gutter * 2;
      transition: 0.2s;
      font-size: 1.5em;
      padding-left: vars.$gutter / 2;
      &:hover {
        border-bottom: none;
        border-left: 3px solid vars.$alt-color;
      }
      &--active {
        border-bottom: none;
        border-left: 3px solid vars.$alt-color;
      }
    }
  }
}
