@use 'src/styles/vars';

.list {
  padding: vars.$gutter 0;
  background-color: vars.$main-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: vars.$secondary-color;
}
