@use 'src/styles/vars';

// PRODUCTS LIST
.products {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

// CARD PRODUCT
.product {
  width: 50%;
  padding: vars.$gutter / 4;
  border-radius: 5px;
}
.card {
  display: block;
  box-sizing: border-box;
  position: relative;
  background-color: vars.$main-color;
  // opacity: 0.9;
  // margin: vars.$gutter;
    &:hover {
      opacity: 1;
    }
  &__img {
    max-width: 100%;
    border-radius: 5px;
    padding: vars.$gutter * 2;
    box-shadow: 1px 1px 5px #000;
  }
  &__title {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    left: 1.5em;
    color: vars.$secondary-color;
    text-shadow: 1px 1px 2px #666;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 1024px) {
  .product {
    width: calc(100% / 3);
  }
}
