@use 'src/styles/vars';

// PRODUCTS LIST
.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

// CARD PRODUCT
.product {
  width: 100%;
  border-radius: 5px;
}
.card {
  display: block;
  box-sizing: border-box;
  position: relative;
  background-color: vars.$main-color;
  margin: vars.$gutter / 2;
  text-align: center;
    &:hover {
      opacity: 1;
    }
  &__img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #000;
  }
  &__title {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    left: 1.5em;
    color: vars.$secondary-color;
    background-color: rgba(29, 31, 54, 0.5);
    border-radius: 3px;
    font-size: 1.2em;
    padding: vars.$gutter / 2;
    text-shadow: 1px 1px 2px #666;
    &:hover {
      color: vars.$alt-color;
    }
  }
}

@media (min-width: 425px) {
  .product {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .product {
    width: calc(100% / 3);
  }
}

@media (min-width: 1440px) {
  .card {
    &__title {
      left: 5em;
    }
  }

  .products {
    width: 80%;
  }
}
