@use 'src/styles/vars';

.flexAssociation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  &__icon1 {
    align-self: center;
  }
  &__icon2 {
    align-self: center;
  }
}

.association {
  color: white;
  width: 400px;
  // margin: vars.$gutter*2 auto vars.$gutter*10 auto;
  // width: 1200px;
  // max-width: 1400px;
  // margin: auto auto 9.5rem auto;
  &__title {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    margin-bottom: vars.$gutter;
  }
  &__card {
    margin: auto;
    // width: 40%;
    background-color: rgba(124, 118, 118, 0.1);
    border: 2px solid white;
    border-radius: 5%;
    &__image {
      width: 100%;
      height: 100%;
    }
    &__title {
      position: relative;
      top: vars.$gutter*1.5;
      text-align: center;
      font-size: vars.$gutter*1.5;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

@media (min-width: 1200px) {
  .association {
    
    width: 400px;
    // margin-left: 28rem;
    // margin-right: -10rem;
  }
}


@media (min-width: 1600px) {
  .association {
    width: 400px;
    // max-width: 1200px;
    // margin-right: -5rem;
  }
}

@media (min-width: 2000px) {
  .association {
    width: 400px;
    // max-width: 1200px;
    // margin-right: 5rem;
  }
}
