@use 'reset';
@use 'vars';

// body {
//   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
// }


// or you can import your own font
// @font-face {
//   font-family: 'Roboto';
//   src: url('../assets/fonts/Roboto-Regular.ttf');
// }


body, html {
  background-color: vars.$main-color;
  // overflow: hidden;
  // scroll-snap-type: y mandatory;
}

p, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

h1, h2, h3, a {
  font-family: 'Quattrocento', serif;
}

#root {
  margin: auto;
  box-shadow: 1px 1px 40px #000;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #root {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  #root {
    width: 80%;
  }
}
