$cheeses: url('cheese-bread-small.jpg');
$wines: url('bouchons-small.jpg');

.blurb {
  width: 100vh;
  color: #fff;
  &__cheeses, &__wines {
    width: 100%;
    height: 20vh;
    // position: relative;
    // z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 15%;
  }
  &__cheeses {
    background-image: $cheeses;
  }
  &__wines {
    background-image: $wines;
  }
  &__article {
    height: 100%;
    width: 100%;
    background-color: rgba(46, 44, 44, 0.6);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    &--title {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 0.5em;
    }
    &--text {
      padding-top: 0.5em;
      width: 80%;
      height: 100%;
      display: none;
    }
  }
  &__button {
    border: 2px solid #fff;
    padding: 0.5em;
    color: #fff;
    background-color: transparent;
    &:hover {
      border: 2px solid rgb(27, 180, 27);
      color: rgb(27, 180, 27);
    }
  }
}

// div.opened {
//   height: 40vh;
//   position: absolute;
//   z-index: 1;
// }

h3.opened {
  text-decoration: underline;
  padding-top: 0.5em;
}

p.opened {
  padding: 1em;
  display: block;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .blurb {
    display: flex;
  }
}
