@use 'src/styles/vars';

.addUser__title {
  font-size: 1.5em;
  padding: vars.$gutter * 2 0;
  color: vars.$alt-color;
}
.add {
  &__input {
    &__password {
      margin: vars.$gutter / 2 0;
      padding: vars.$gutter / 2;
      display: block;
      width: 100%;
      border: 2px solid vars.$secondary-color;
      background-color: transparent;
      color: vars.$secondary-color;
      &:focus {
        background-color: vars.$secondary-color;
        color: vars.$main-color;
      }
      &::placeholder {
        color: vars.$secondary-color;
        opacity: 0.8;
      }
    }
  }
}
