@use 'src/styles/vars';

.toggler {
  padding: vars.$gutter;
  &__button {
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: -25px auto;
    display: block;
    border-radius: 50%;
    border: 4px solid vars.$alt-color;
    background-color: vars.$main-color;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    color: vars.$secondary-color;
    transition: transform 1s, background-color 2s;
    &--open {
      transform: rotate(450deg);
    }
  }
}
