@use 'src/styles/vars';

.concept {
  background-color: vars.$secondary-color;
  margin: vars.$gutter * 2 vars.$gutter * 4;
  padding: vars.$gutter vars.$gutter * 2;
  position: relative;
  &__title {
    position: absolute;
    font-style: italic;
    top: 5px;
    left: 1.5em;
    color: vars.$alt-color;
    font-size: 2rem;
  }
  &__content {
    font-size: 1rem;
    margin: 1em;
    padding: 1em;
    line-height: 1.5em;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .concept {
    margin: vars.$gutter * 6 vars.$gutter * 12;
    padding: vars.$gutter * 2 vars.$gutter * 4;
    &__title {
      left: -2em;
      top: -2em;
      // background-color: rgba(29, 31, 54, 0.5);
      // border-bottom: 1px solid vars.$secondary-color;
      padding: vars.$gutter / 3;
      font-size: 2.2em;
    }
    &__content {
      border-left: 4px solid vars.$main-color;
      border-radius: 0 0 0 15px;
    }
  }
}
