@use 'src/styles/vars';

.concept {
  background-color: vars.$secondary-color;
  margin: vars.$gutter * 2;
  padding: vars.$gutter;
  // position: relative;
  &__title {
    // position: absolute;
    font-style: italic;
    // top: -2em;
    // left: -2em;
    color: vars.$alt-color;
    font-size: 2rem;
  }
  &__content {
    font-size: 1rem;
    margin: vars.$gutter / 2;
    padding: vars.$gutter / 2;
    line-height: 1.3em;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .concept {
    background-color: vars.$secondary-color;
    margin: vars.$gutter * 4;
    padding: vars.$gutter * 2;
    position: relative;
    &__title {
      position: absolute;
      left: -1.5em;
      top: -1.5em;
      padding: vars.$gutter / 3;
      font-size: 2.2em;
    }
    &__content {
      border-left: 3px solid vars.$main-color;
      border-radius: 0 0 0 15px;
      padding: vars.$gutter / 2 vars.$gutter;
      line-height: 1.5em;
    }
  }
}

@media (min-width: 1024px) {
  .concept {
    margin: vars.$gutter * 6 vars.$gutter * 10;
    padding: vars.$gutter * 2 vars.$gutter * 4;
    &__content {
      font-size: 1.2em;
      line-height: 1.7em;
    }
  }
}
