@use 'src/styles/vars';

.concept {
  height: 200px;
  width: 100vh;
  background-color: #2C3E50;
  padding: 1rem;
  &__title {
    color: rgb(219, 211, 211);
    font-size: 2rem;
    text-align: center;

  }
  &__content {
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 2rem;
  }
}
