@use 'src/styles/vars';

.backOffice {
  color: white;
  height: 100%;
  padding-right: 1rem;
}
.sideBar {
  position: fixed;
  width: 20%;
  min-height: 100vh;
  top: 0;
  background-color: vars.$alt-color;
}

.backHeader, .backHomePage, .produits, .users, .addCheese, .addWine, .addUser {
  margin-left: 30%;
}
