@use 'src/styles/vars';

.backOffice {
  color: white;
  height: 100vh;
}
.sideBar {
  position: fixed;
  left: 10%;
  width: 18%;
  min-height: 100vh;
  top: 0;
  background-color: vars.$alt-color;
}
