@use 'src/styles/vars';

.addProposal {
  display: flex;
  justify-content: center;
  margin-top: vars.$gutter*2;
  &__form {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  &__select {
    margin-top: vars.$gutter/2;
  }
  &__label {
    margin-top: vars.$gutter;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }
}

.proposal {
  &__button {
    color: vars.$alt-color;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid vars.$alt-color;
    padding: vars.$gutter/2;
    font-weight: bold;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: vars.$gutter*2;
    &:hover {
      background-color: vars.$alt-color;
      color: black;
    }
  }
}

.description {
  margin-top: 0;
}
