@use 'src/styles/vars';

.editWine {
  width: 450px;
  margin-left: vars.$gutter;
  &__title {
    margin-bottom: vars.$gutter;
    text-decoration: underline;
    font-size: vars.$gutter*1.5;
  }
}

.edit {
  &__form {
    & textarea {
      background-color: transparent;
      color: vars.$secondary-color;
      border: 2px solid vars.$secondary-color;
      &:focus {
        background-color: vars.$secondary-color;
        color: vars.$main-color;
        border: none;
        border-radius: 2px;
      }
    }
  }
}
