@use 'src/styles/vars';

.menu {
  padding: vars.$gutter * 3;
  font-size: 2.2rem;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(29, 31, 54, 0.5);
  &__link {
    margin: 0 vars.$gutter * 3;
    color: vars.$secondary-color;
    &--active {
      color: vars.$alt-color;
    }
    &:hover {
      color: vars.$alt-color;
      border-bottom: 3px solid vars.$alt-color;
      transition: 0.3s;
    }
  }
}
