@use 'src/styles/vars';

.flexAssociation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  &__icon1 {
    align-self: center;
    cursor: pointer;
  }
  &__icon2 {
    align-self: center;
    cursor: pointer;
  }
}

.association {
  color: vars.$secondary-color;
  margin: vars.$gutter auto;
  height: 100%;
  border-top: 2px solid vars.$alt-color;
  &__title {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: vars.$gutter * 2 0;
    font-size: 1.2em;
  }
  &__card {
    margin: auto;
    border: 2px solid white;
    border-radius: 3px;
    padding: vars.$gutter;
    &__title {
      text-align: center;
      font-size: 1.4em;
      text-transform: uppercase;
      font-weight: bold;
    }
    &__image {
      width: 100%;
      margin: vars.$gutter * 2 0;
      border-radius: 2px;
      box-shadow: 1px 1px 10px black;
    }
  }
}

.userProposal {
  height: 100%;
  padding: vars.$gutter;
  &__title {
    text-align: center;
    padding-bottom: vars.$gutter;
    border-bottom: 2px solid vars.$alt-color;
    line-height: 1.2em;
  }
  &__propositions {
    padding: vars.$gutter;
  }
  &__detail {
    text-align: center;
    padding: vars.$gutter 0;
    border-bottom: 1px dotted vars.$secondary-color;
  }
  &__name {
    padding-bottom: vars.$gutter / 2;
  }
}

@media (min-width:768px) {
  .association {
    width: 70%;
    margin: auto vars.$gutter;
    &__title {
      font-size: 1.5em;
    }
  }

  .userProposal {
    padding: vars.$gutter * 2;
    &__title {
      font-size: 1.2em;
      padding-bottom: vars.$gutter * 2;
    }
    &__propositions {
      font-size: 1.2em;
    }
    &__detail {
      padding: vars.$gutter * 1.5 0;
    }
    &__name {
      padding-bottom: vars.$gutter;
    }
  }
}

@media (min-width: 1024px) {
  .association {
    width: 75%;
    &__card {
      padding: vars.$gutter * 2;
    }
  }

  .userProposal {
    &__detail {
      padding: vars.$gutter * 2 0;
    }
  }
}

@media (min-width: 1200px) {
  .association {
    
    width: 400px;
    // margin-left: 28rem;
    // margin-right: -10rem;
  }
}


@media (min-width: 1600px) {
  .association {
    width: 400px;
    // max-width: 1200px;
    // margin-right: -5rem;
  }
}

@media (min-width: 2000px) {
  .association {
    width: 400px;
    // max-width: 1200px;
    // margin-right: 5rem;
  }
}
